{
  "plugins": [
    ["dynamic-import-webpack"],
    ["syntax-dynamic-import"],
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    ["transform-object-rest-spread"]
  ],
  "presets": ["react", "env"]
}
