
$primary-color: #212121
$secondary-color: seashell
$text-color: #212121
$alternative-text-color: whitesmoke
$shadow-color: rgba(128, 128, 128, 0.499)
$background-color: whitesmoke
$background-pattern: url('/public/client/img/background-pattern.png')
$primary-font: 'Ubuntu', sans-serif
$logo-font: 'Pacifico', sans-serif